{% load static %}
<!DOCTYPE html>
<html lang="id">
    <head>
        <title>{% block title %}{% endblock %}</title>

        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <script src="{% static 'js/main.js' %}"></script>

        <script src="https://cdn.tailwindcss.com"></script>
        <script>
            tailwind.config = {
              theme: {
                extend: {
                  colors: {
                    clifford: '#da373d',
                  }
                }
              }
            }
        </script>
    </head>
    <body>
        {% block navbar %}{% endblock %}
        {% block content %}{% endblock %}
        {% block footer %}{% endblock %}
    </body>
</html>